.icons-wrapper {
  animation: translate 20s infinite linear;
}

.project-cardsWrapper {
  border-radius: 10px;
}

.project-cardsWrapper .card:nth-child(even) {
  margin-left: auto;
}

@keyframes translate {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-70%);
  }
}
